node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Hardhat
coverage
coverage.json
typechain
typechain-types
hardhat/cache
hardhat/artifacts

# Foundry (TOCONTINUE)
# Compiler files
foundry/cache/
foundry/out/

secrets.json